@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeScroll {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.8;
  }
  35% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  height: 100%;
}